functions for Administrator:
    - Approving a advertiser
	- Approving a publisher
	- Assisting/ providing techinal support

functions for a user : 
   - sign up
   - login
   
   functions of advertiser:
     - 
   
   functions of publisher:
     - A dashboard to view his earnings with following featues:
	     - set filters 
		    -all websites/paticular website
			-since (ex. last 7 days,last month etc)
		 - genrate report(a detailed report showing publishers's earnings)
			
	 - manging his websites
	     - adding a websites
		     - getting details of the website
		     - set a bid for the website(demanding 'x' amount for the ad that is to be placed on the website)
		 - removing a website
		 - managing the postion of the add on that website
		 - changing the bid attributes of a website
	 - spam report a advertaiser
	 - Ask for techinal support


